#titl{
    font-size: 60px;
    border: coral;
}
.mainPage{
    display:grid;
    grid-template-columns: 200px 1fr;
    border : solid;
}
.notShowing {
    display:none;
}
#navigation{
    margin-bottom: 20px;
    margin-top: 20px;
    border : solid;
}
#js-personal{
    border : solid;
}
#js-clock{
    margin-left: 40px;
}
.toDoList{
    border:solid;
}
.list{
    border:solid;
}